{{>header}}
<title>Crud - Create Record</title>
{{>navbar}}
<div class="container-fluid my-3">
    <h5 class="bg-dark text-light p-2 text-center">Create Employee Data</h5>
    <form action="/add" method="post">
        <div class="row">
            <div class="col-12 mb-3">
                <label>Name*</label>
                <input type="text" name="name" placeholder="Full Name" value="{{data.name}}"
                    class="form-control {{#if errorMessage.name}}border-danger{{else}}border-secondary{{/if}}">
                {{#if errorMessage.name}}
                <p class="text-danger">{{errorMessage.name}}</p>
                {{/if}}
            </div>
            <div class="col-6 mb-3">
                <label>Email*</label>
                <input type="email" name="email" placeholder="Email Address" value="{{data.email}}"
                    class="form-control {{#if errorMessage.email}}border-danger{{else}}border-secondary{{/if}}">
                {{#if errorMessage.email}}
                <p class="text-danger">{{errorMessage.email}}</p>
                {{/if}}
            </div>
            <div class="col-6 mb-3">
                <label>Phone*</label>
                <input type="text" name="phone" placeholder="Phone Number" value="{{data.phone}}"
                    class="form-control {{#if errorMessage.phone}}border-danger{{else}}border-secondary{{/if}}">
                {{#if errorMessage.phone}}
                <p class="text-danger">{{errorMessage.phone}}</p>
                {{/if}}
            </div>
            <div class="col-6 mb-3">
                <label>Designation*</label>
                <input type="text" name="designation" placeholder="Designation" value="{{data.designation}}"
                    class="form-control {{#if errorMessage.designation}}border-danger{{else}}border-secondary{{/if}}">
                {{#if errorMessage.designation}}
                <p class="text-danger">{{errorMessage.designation}}</p>
                {{/if}}
            </div>
            <div class="col-6 mb-3">
                <label>Salary*</label>
                <input type="text" name="salary" placeholder="Salary" value="{{data.salary}}"
                    class="form-control {{#if errorMessage.salary}}border-danger{{else}}border-secondary{{/if}}">
                {{#if errorMessage.salary}}
                <p class="text-danger">{{errorMessage.salary}}</p>
                {{/if}}
            </div>
            <div class="col-6 mb-3">
                <label>City*</label>
                <input type="text" name="city" placeholder="City Name" value="{{data.city}}"
                    class="form-control border-secondary">
            </div>
            <div class="col-6 mb-3">
                <label>State*</label>
                <input type="text" name="state" placeholder="State Name" value="{{data.state}}"
                    class="form-control border-secondary">
            </div>
            <div class="col-12-mb-3">
                <button type="submit" class="btn btn-dark w-100">Submit</button>
            </div>
        </div>
    </form>
</div>
{{>footer}}